[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
deltalake = "@ git+https://github.com/ognis1205/delta-rs@main"
notebook = "==6.5.3"
pandas = "==2.0.1"
boto3 = "==1.26.104"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.13"
